# Node / React
/frontend/node_modules/
frontend/.env

# Python / Backend
/backend/venv/
backend/__pycache__/
backend/.env

# IntelliJ / JetBrains IDE
.idea/
!.idea/misc.xml
!.idea/modules.xml
*.iml

# General
.DS_Store
